<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <form action="/create" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Your Dojo Here">
        <input type="submit" value="Add Dojo">
    </form>
    <table>
        <tr>
            <th>Dojos</th>
        </tr>
        {% for d in dojos %}
        <tr>
            <td>
                <a href="/dojo/{{ d.id }}">{{ d.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/new">Add Ninja</a>
</body>
</html>